@import "conf/conf";

.form-control-wrapper {
  .radio-button-margin {
    margin-right: 50px;
  }
}

.verificacion__footer {
  width: 100%;
  padding: 20px;
}

.form-control-wrapper {
  .radio-label {
    justify-content: end;
  }
}
