<ginni-pagina-container ginniAllPageHeight>
  <ginni-en-construccion>
    <div head>
      <div class="genio-animacion">
        <div class="genio-animacion__container">
          <img src="assets/imagenes/genio.png" class="genio-animacion__genio" />
          <img src="assets/imagenes/genio.png" class="genio-animacion__genio--background" />
          <img src="assets/imagenes/lampara.png" class="genio-animacion__lampara" />
        </div>
      </div>
    </div>
    <span title>Página en construcción</span>
    <span subtitle> Estamos trabajando en el contenido de esta página. </span>
  </ginni-en-construccion>
</ginni-pagina-container>
