<div class="header" *ngIf="usuarioNombre && usuarioApellido">
  <div class="header__inner">
    <div class="header-logo">
      <button class="header-logo__toggle" (click)="activeMenuChange.emit(!activeMenu)">
        <i class="icon-menu"></i>
      </button>
      <ginni-svg
        class="header-logo__image only-desktop"
        src="assets/imagenes/iconos/ginni.svg"
      ></ginni-svg>
      <ginni-svg
        class="header-logo__image only-mobile"
        src="assets/imagenes/iconos/ginni-isotipo.svg"
      ></ginni-svg>
    </div>
    <div class="header-top-menu">
      <ul class="header-menu">
        <li class="header-menu__item header-menu__item--info">
          <div class="header-menu__sub-item">{{ fechaActual + " | " }}</div>
        </li>
        <li
          class="header-menu__item header-menu__item--user"
          [ngClass]="{ active: activeUserMenu }"
        >
          <button class="header-user" (click)="clickUserMenu()">
            <div class="header-user__image">
              <img
                *ngIf="usuario.foto"
                [src]="'data:image/png;base64,' + usuario.foto | sanitizeUrl"
              />
              <img *ngIf="!usuario.foto" src="assets/imagenes/avatar-default.png" />
              <div *ngIf="notificaciones > 0" class="badge">{{ notificaciones }}</div>
            </div>
            <div class="header-user__name">
              {{ usuarioNombre }}
              <strong> {{ usuarioApellido }} </strong>
            </div>
            <span class="icon-chevron-down"></span>
          </button>
          <div class="header-user-menu" *ngIf="activeUserMenu">
            <div class="header-user-menu__wrapper">
              <a (click)="cerrarSesion.emit(true)" class="header-user-menu__item">
                <span class="header-user-menu__icon icon-log-out"></span>
                <div class="header-user-menu__text">Salir de Ginni</div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
