$font-family: "Open Sans", Roboto, "Helvetica Neue", Arial, sans-serif;

$fontM: 14px;
$fontL: 18px;

$font-size-icon-small: 20px;

$resXL: 1150px;
$resL: 991px;
$resM: 767px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;


$assets-root: "/assets";
$images-root: "/images/";
$font-semibold: 600;

$resSidebarMobile: $resM;

$borde-redondeado: 5px;
