@import "conf/conf";

:host {
  &.text-small {
    font-size: 13px;

    @media (max-width: $resXXS) {
      font-size: 12px;
    }
  }

  &.size-small {
    font-size: 12px;

    .borrar-contrato {
      .icon-x {
        cursor: pointer;
        font-size: 15px;
        position: absolute;
        display: inline-block;
        top: 50%;
        margin-top: -7px;
        vertical-align: middle;
        padding-right: 4px;
      }

      .borrar-mensaje {
        padding-left: 20px;
        display: inline-block;
      }

      .cancel-button {
        display: none;
      }

      button {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 96px;
      }
    }
  }
}

.borrar-contrato {
  background-color: $red;
  color: white;
  position: absolute;
  transition: height 0.2s;
  width: 100%;
  overflow: hidden;
  z-index: 8;
  height: 0;

  .borrar-contrato-contenedor {
    height: 100%;
    padding: 0 0.75rem;
  }

  &.alerta {
    left: 500px;
  }

  @media (min-width: $resM) {
    .icon-x {
      display: none;
    }
  }

  @media (max-width: $resM) {
    font-size: 13px;

    @media (max-width: $resXXS) {
      font-size: 12px;
    }

    .icon-x {
      cursor: pointer;
      font-size: 15px;
      position: absolute;
      top: 17px;
      vertical-align: middle;
      padding-right: 4px;
    }

    .borrar-mensaje {
      padding-left: 20px;
      display: inline-block;
    }

    .cancel-button {
      display: none;
    }

    button {
      font-size: 12px;
      padding-left: 22px;
      padding-right: 22px;

      @media (max-width: $resXXS) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
