
.radio-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  font-weight: $font-semibold;
  margin: 5px;
}

.radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.radio-outer-circle {
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.54);
}

.radio-inner-circle {
  border-radius: 50%;
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform ease 280ms, background-color ease 280ms;
  width: 20px;
  transform: scale(0.001);
  background-color: $primary;
}

.radio-label-content {
  display: inline-block;
  order: 0;
  line-height: inherit;
  padding-right: 8px;
  padding-left: 0;
}

.checked {
  .radio-outer-circle {
    border-color: $primary;
  }

  .radio-inner-circle {
    transform: scale(0.5);
  }
}
